@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");@font-face {
    font-family: YuGothicM;
    src: local("Yu Gothic Medium")
}

:root {
    --z-lv-1: 1;
    --z-lv-2: 10;
    --z-lv-3: 100;
    --z-lv-4: 1000;
    --z-lv-5: 10000;
    --z-lv-6: 100000;
    --z-lv-7: 1000000;
    --z-lv-8: 10000000;
    --z-lv-9: 100000000;
    --z-lv-10: 1000000000;
    --z-behindLv-1: -1;
    --z-behindLv-2: -10;
    --z-behindLv-3: -100;
    --z-behindLv-4: -1000;
    --z-behindLv-5: -10000;
    --z-behindLv-6: -100000;
    --z-behindLv-7: -1000000;
    --z-behindLv-8: -10000000;
    --z-behindLv-9: -100000000;
    --z-behindLv-10: -1000000000;
    --fontFamily-base: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
    --fontFamily-mincho: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    --fontFamily-mono: monospace,serif;
    --fontWeight-thin: 100;
    --fontWeight-extraLight: 200;
    --fontWeight-light: 300;
    --fontWeight-normal: 400;
    --fontWeight-medium: 500;
    --fontWeight-semiBold: 600;
    --fontWeight-bold: 700;
    --fontWeight-extraBold: 800;
    --fontWeight-black: 900;
    --easeIn-sine: cubic-bezier(0.47,0,0.745,0.715);
    --easeOut-sine: cubic-bezier(0.39,0.575,0.565,1);
    --easeInOut-sine: cubic-bezier(0.445,0.05,0.55,0.95);
    --easeIn-quad: cubic-bezier(0.55,0.085,0.68,0.53);
    --easeOut-quad: cubic-bezier(0.25,0.46,0.45,0.94);
    --easeInOut-quad: cubic-bezier(0.455,0.03,0.515,0.955);
    --easeIn-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
    --easeOut-cubic: cubic-bezier(0.215,0.61,0.355,1);
    --easeInOut-cubic: cubic-bezier(0.645,0.045,0.355,1);
    --easeIn-quart: cubic-bezier(0.895,0.03,0.685,0.22);
    --easeOut-quart: cubic-bezier(0.165,0.84,0.44,1);
    --easeInOut-quart: cubic-bezier(0.77,0,0.175,1);
    --easeIn-quint: cubic-bezier(0.755,0.05,0.855,0.06);
    --easeOut-quint: cubic-bezier(0.23,1,0.32,1);
    --easeInOut-quint: cubic-bezier(0.86,0,0.07,1);
    --easeIn-expo: cubic-bezier(0.95,0.05,0.795,0.035);
    --easeOut-expo: cubic-bezier(0.19,1,0.22,1);
    --easeInOut-expo: cubic-bezier(1,0,0,1);
    --easeIn-circ: cubic-bezier(0.6,0.04,0.98,0.335);
    --easeOut-circ: cubic-bezier(0.075,0.82,0.165,1);
    --easeInOut-circ: cubic-bezier(0.785,0.135,0.15,0.86);
    --easeIn-back: cubic-bezier(0.6,-0.28,0.735,0.045);
    --easeOut-back: cubic-bezier(0.175,0.885,0.32,1.275);
    --easeInOut-back: cubic-bezier(0.68,-0.55,0.265,1.55);
    --size-ipad-long: 1024px;
    --size-ipad-short: 768px;
    --size-ipadPro10inch-long: 1112px;
    --size-ipadPro10inch-short: 834px
}

@keyframes funyafunya {
    0% {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%
    }

    12.5% {
        border-radius: 80% 30% 50% 50%/50%
    }

    25% {
        border-radius: 40% 40% 50%/30% 50% 50%
    }

    37.5% {
        border-radius: 20% 30% 56% 70%/80% 50% 70% 20%
    }

    50% {
        border-radius: 5%
    }

    62.5% {
        border-radius: 3%
    }

    75% {
        border-radius: 2%
    }

    86.5% {
        border-radius: 1%
    }

    to {
        border-radius: 0
    }
}

body {
    position: relative;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,游ゴシック Medium,YuGothic,YuGothicM,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
    font-family: var(--fontFamily-base)
}

*,:after,:before {
    box-sizing: border-box
}

pre {
    font-family: monospace,serif;
    font-family: var(--fontFamily-mono);
    font-weight: 400;
    font-weight: var(--fontWeight-normal)
}

@media (min-width: 768px) {
    .-hidden-pc {
        display:none!important
    }
}

@media (max-width: 767px) {
    .-hidden-sp {
        display:none!important
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.transition {
    opacity: 0;
    transition-duration: 1s;
    transition-property: transform,opacity
}

.transition--bottom {
    transform: translateY(1.667vw)
}

@media (max-width: 767px) {
    .transition--bottom {
        transform:translateY(5.333vw)
    }
}

.transition--start {
    opacity: 1;
    transform: translateX(0) translateY(0)
}

#header .header {
    height: 3.917vw
}

@media (max-width: 767px) {
    #header .header {
        height:14.933vw
    }
}

@media (max-width: 767px) {
    #header .header.close .header__wrapper {
        left:100vw;
        opacity: 0;
        transition: all .3s
    }
}

#header .header.close .header__sp {
    background-color: #fff;
    box-shadow: 0 .267vw 1.067vw hsla(0,0%,40%,.16078);
    transition: all .3s
}

@media (max-width: 767px) {
    #header .header.open .header__wrapper {
        left:0;
        opacity: 1;
        transition: all .3s
    }
}

#header .header.open .header__sp {
    background-color: transparent;
    box-shadow: 0 0 0 #fff;
    transition: all .3s
}

#header .header.open .header__sp--menu>span {
    transition: all .3s
}

#header .header.open .header__sp--menu>span:first-of-type {
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

#header .header.open .header__sp--menu>span:nth-of-type(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)
}

#header .header.open .header__sp--button {
    opacity: 0;
    pointer-events: none
}

#header .header__wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1.111%;
    background-color: #fff;
    box-shadow: 0 .069vw .278vw hsla(0,0%,40%,.16078);
    z-index: 5
}

@media (max-width: 767px) {
    #header .header__wrapper {
        top:0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 11.006vh 0 0
    }
}

#header .header__title {
    display: flex;
    align-items: center;
    width: 6.944%;
    margin-right: 6.486%
}

@media (max-width: 767px) {
    #header .header__title {
        position:absolute;
        top: 5.333vw;
        left: 5.333vw;
        width: 26.667vw
    }
}

#header .header__navigations {
    display: flex;
    margin-right: auto
}

@media (max-width: 767px) {
    #header .header__navigations {
        flex-direction:column;
        align-items: center;
        order: 3;
        width: 100%
    }
}

#header .header__link {
    margin-right: 4.444vw;
    padding: 1.528vw 0 1.111vw
}

@media (max-width: 767px) {
    #header .header__link {
        margin:6vw auto;
        padding: 0
    }
}

#header .header__link>a>p {
    color: #333;
    font-size: .972vw;
    line-height: 1
}

@media (max-width: 767px) {
    #header .header__link>a>p {
        font-size:4.267vw
    }
}

#header .header__link.-active {
    border-bottom: .278vw solid #f53c38
}

@media (max-width: 767px) {
    #header .header__link.-active {
        border-bottom:none
    }
}

#header .header__point {
    margin-right: 1.458vw
}

@media (max-width: 767px) {
    #header .header__point {
        order:1;
        margin-bottom: 4.717vh
    }
}

#header .header__point>p {
    color: #888;
    font-size: 1.111vw;
    font-weight: 600;
    line-height: 1
}

@media (max-width: 767px) {
    #header .header__point>p {
        font-size:4.267vw
    }
}

#header .header__point>p>span {
    margin-right: .278vw;
    color: #737373;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1
}

@media (max-width: 767px) {
    #header .header__point>p>span {
        font-size:7.467vw;
        letter-spacing: 0
    }
}

@media (max-width: 767px) {
    #header .header__button {
        order:2;
        margin-bottom: 2.933vw
    }
}

#header .header__button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .694vw 2.014vw;
    background-color: #f53c38;
    border-radius: .417vw
}

@media (max-width: 767px) {
    #header .header__button>a {
        width:89.333vw;
        margin: 0 auto;
        padding: 4.533vw 0;
        border-radius: 1.6vw
    }
}

#header .header__button>a>p {
    color: #fff;
    font-size: .833vw;
    font-weight: 900;
    line-height: 1
}

@media (max-width: 767px) {
    #header .header__button>a>p {
        font-size:4.267vw
    }
}

#header .header__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30.818vh;
    background-color: #f7f7f7
}

#header .header__bottom--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81.867vw;
    margin: 16vw auto auto
}

#header .header__bottom--item p {
    font-size: 2.667vw;
    line-height: 1.2
}

#header .header__sp {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 14.933vw;
    background-color: #fff;
    z-index: 5
}

#header .header__sp--menu {
    position: relative;
    width: 10.933vw;
    height: 3.2vw;
    z-index: 8;
    pointer-events: all;
    cursor: pointer;
    transition: all .5s;
    -webkit-tap-highlight-color: transparent
}

#header .header__sp--menu>span {
    position: absolute;
    left: 0;
    width: 6.667vw;
    height: .533vw;
    background-color: #000;
    transition: all .3s
}

#header .header__sp--menu>span:first-of-type {
    top: 0
}

#header .header__sp--menu>span:nth-of-type(2) {
    bottom: 0
}

#header .header__sp--button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.667vw;
    padding: 2.667vw 8vw;
    background-color: #f53c38;
    border-radius: 1.6vw
}

#header .header__sp--button>a>p {
    color: #fff;
    font-size: .833vw;
    font-weight: 900;
    line-height: 1
}

@media (max-width: 767px) {
    #header .header__sp--button>a>p {
        font-size:1.2rem
    }
}

#footer .footer__wrapper {
    padding: 5.556% 18.958%;
    background-color: #333
}

@media (max-width: 767px) {
    #footer .footer__wrapper {
        padding:21.333vw 0
    }
}

#footer .footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.903vw
}

@media (max-width: 767px) {
    #footer .footer__list {
        justify-content:center;
        margin-bottom: 5.6vw;
        flex-wrap: wrap
    }
}

@media (max-width: 767px) {
    #footer .footer__item {
        margin:0 5.333vw 14.133vw
    }
}

#footer .footer__item>a>p {
    color: #fff;
    font-size: .833vw;
    line-height: 1;
    letter-spacing: .2em
}

@media (max-width: 767px) {
    #footer .footer__item>a>p {
        font-size:2.667vw;
        letter-spacing: .1em
    }
}

#footer .footer__copyright>p {
    color: #fff;
    font-size: .694vw;
    line-height: 1;
    letter-spacing: .15em;
    text-align: center
}

@media (max-width: 767px) {
    #footer .footer__copyright>p {
        font-size:2.667vw
    }
}

#contents .contents__wrapper {
    width: 47.222%;
    margin: 5.556% auto 8.333%
}

@media (max-width: 767px) {
    #contents .contents__wrapper {
        width:94.667%;
        margin: 10.667vw auto 32vw
    }
}

#contents .contents__date {
    margin-bottom: 3.824%
}

@media (max-width: 767px) {
    #contents .contents__date {
        margin:0 2.667vw 6.667vw
    }
}

#contents .contents__date>p {
    color: #f53038;
    font-size: .833vw;
    font-weight: 700;
    line-height: 1
}

@media (max-width: 767px) {
    #contents .contents__date>p {
        font-size:3.2vw
    }
}

#contents .contents__title {
    margin-bottom: 7.353%;
    padding-bottom: 3.974%;
    border-bottom: 1px solid #333
}

@media (max-width: 767px) {
    #contents .contents__title {
        margin:0 2.667vw 12vw;
        padding-bottom: 5.867vw
    }
}

#contents .contents__title>h2 {
    color: #333;
    font-size: 1.528vw;
    font-weight: 700;
    line-height: 1.455
}

@media (max-width: 767px) {
    #contents .contents__title>h2 {
        font-size:5.867vw
    }
}

#contents .contents__image {
    margin-bottom: 5.882%
}

@media (max-width: 767px) {
    #contents .contents__image {
        margin-bottom:12vw
    }
}

#contents .contents__texts {
    margin-bottom: 11.765%
}

@media (max-width: 767px) {
    #contents .contents__texts {
        margin:0 2.667vw 21.333vw
    }
}

#contents .contents__text {
    margin-bottom: 1.029%
}

@media (max-width: 767px) {
    #contents .contents__text {
        margin-bottom:6.667vw
    }
}

#contents .contents__text>p {
    color: #333;
    font-size: .972vw;
    line-height: 1.714
}

@media (max-width: 767px) {
    #contents .contents__text>p {
        font-size:3.733vw
    }
}

#contents .contents__text--bold {
    font-weight: 700
}

#contents .contents__text--medium {
    font-weight: 500
}

#contents .contents__text--semi {
    font-weight: 600
}

#contents .contents__text.--mb25 {
    margin-bottom: 2.206%
}

@media (max-width: 767px) {
    #contents .contents__text.--mb25 {
        margin-bottom:6.667vw
    }
}

#contents .contents__text.--mb40 {
    margin-bottom: 4.412%
}

@media (max-width: 767px) {
    #contents .contents__text.--mb40 {
        margin-bottom:10.667vw
    }
}

#contents .contents__text.--mb45 {
    margin-bottom: 5.147%
}

@media (max-width: 767px) {
    #contents .contents__text.--mb45 {
        margin-bottom:12vw
    }
}

#contents .contents__backto {
    width: 47.857%;
    margin: 0 auto
}

@media (max-width: 767px) {
    #contents .contents__backto {
        width:100%
    }
}

#contents .contents__backto>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.444% 0;
    background-color: #afafaf;
    border-radius: 6px
}

@media (min-width: 1456px) {
    #contents .contents__backto>a {
        border-radius:.417vw
    }
}

@media (max-width: 767px) {
    #contents .contents__backto>a {
        border-radius:1.6vw
    }
}

#contents .contents__backto>a>p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1
}

@media (min-width: 1456px) {
    #contents .contents__backto>a>p {
        font-size:.8333vw
    }
}

@media (max-width: 767px) {
    #contents .contents__backto>a>p {
        font-size:3.2vw
    }
}

#contents .contents__backto>a>img {
    position: absolute;
    top: 50%;
    left: 4.627%;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1.194%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    transform: translateY(-50%)
}

@media (max-width: 767px) {
    #contents .contents__backto>a>img {
        left:4vw;
        width: 1.067vw
    }
}

:root {
    --fontFamily-main: "Open Sans","Noto Sans JP",var(--fontFamily-base)
}

body,html {
    font-family: Open Sans,Noto Sans JP,-apple-system,BlinkMacSystemFont,Helvetica Neue,游ゴシック Medium,YuGothic,YuGothicM,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
    font-family: var(--fontFamily-main)
}

body *,html * {
    letter-spacing: .1em
}

a {
    text-decoration: none
}

img {
    width: 100%
}
